
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}


body {font-family: Arial, Helvetica, sans-serif;}


.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container{
  max-width: 20%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 65px 55px 54px 55px;
  background-color: white; /* Fallback color */
  background-color: rgba(255, 255, 255, 0.324);

}

h1{
	text-align: center;
  padding-bottom: 20px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.container {
  padding: 16px;
}

span.psw {
  float: right;
  
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}

.grid-container {
  display: flex;
  
}

.grid-container > div {
  padding: 5px 0;

}

.item1, .item2{
	width: 50%;
  }

.item2{
	text-align: right; 
  vertical-align: center;}

.holder{
  border-radius: 8px;}

.signup-btn{
    z-index: -1;
    border-radius: 8px;
    background: rgb(38, 75, 222);
    background: -webkit-linear-gradient(right,#0073de,#4800ff);

    left: -100%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}